.root {
  color: #000000;
}

h1.root {
  font-weight: 400;
  font-size: 72px;
  line-height: 84px;
  letter-spacing: 4px;
}

h2.root {
  font-weight: 400;
  font-size: 32px;
  line-height: 37px;
}

h3.root {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
}

h6.root {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}
