@import '../../variables';

.nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  width: 100%;
  padding: 40px 16px;
  background: linear-gradient(180deg, $clr-third 0%, $clr-primary 100%);
  box-shadow: 4px 4px 24px rgba(1, 17, 38, 0.2);
  border-radius: 0 0 16px 16px;
  transform: translateY(-150%);
  transition: transform 400ms ease;

  @media (min-width: 768px) {
    position: static;
    width: auto;
    padding: 0;
    background: transparent;
    box-shadow: none;
    transform: none;
  }
}

.open {
  transform: translateY(0);
}

.logo {
  display: block;
  width: 138px;
  height: auto;
  margin: 0 auto;
  margin-bottom: 35px;

  @media (min-width: 768px) {
    display: none;
  }
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    margin-bottom: 16px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  @media (min-width: 768px) {
    flex-direction: row;

    & li {
      margin-bottom: 0;
      margin-right: 40px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  @media (min-width: 1125px) {
    & li {
      margin-right: 55px;
    }
  }
}

.link {
  position: relative;
  display: inline-block;
  font-size: 27px;
  color: #212121;
  text-decoration: none;
  text-shadow: 4px 4px 20px rgba(1, 28, 64, 0.2);

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    display: block;
    height: 3px;
    background-color: #212121;
    border-radius: 3px;
    transform-origin: center;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
  }

  &:hover::after {
    transform: scaleX(1);
  }

  @media (min-width: 768px) {
    padding-bottom: 15px;
    font-size: 19px;
  }

  @media (min-width: 1125px) {
    font-size: 25px;
  }
}

@media (min-width: 768px) {
  .linkActive {
    &::after {
      transform: scaleX(1);
    }
  }
}
